.navbar {
  width: 100%;
  height: 60px;
  background: linear-gradient(
    27deg,
    rgba(65, 65, 65, 1) 28%,
    rgba(0, 0, 0, 1) 58%,
    rgba(80, 80, 80, 1) 88%
  );
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.inner-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.inner-nav .logo {
  font-size: 3rem;
  color: var(--white);
}

.inner-nav a {
  font-size: 1.6rem;
  color: var(--white);
}
