.navbar {
  width: 100%;
  height: 60px;
  background: linear-gradient(
    27deg,
    rgba(255, 224, 91, 1) 28%,
    rgba(255, 249, 137, 1) 58%,
    rgba(255, 224, 91, 1) 88%
  );
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.inner-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.inner-nav .logo {
  font-size: 3rem;
  color: rgb(151, 133, 56);
}

.inner-nav a {
  font-size: 1.6rem;
  color: rgb(151, 133, 56);
}
